.container {
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/b/54/priroda-vetki-listia-zhivotnoe-sobaka-pios-poza.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-attachment: fixed;
  padding-right: 30px;
  justify-content: center;
  
}

.landing_text_container {
  margin-top: -110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  color: darkorange;
  text-shadow: 2px 2px bisque;
}

.description {
  color: bisque;
  text-shadow: 2px 2px black;
}

.button {
  background-color: darkorange;
  border-radius: 2rem;
  color: black;
  font-weight: 600;
  border: none;
  font-size: 20px;
  transition: .5s;
}

.button:hover {
    color: white;
    background-color: red;
    box-shadow: 0 0 1rem white, 0 0 4rem white, 0 0 8rem white
}
