.container {
  background-image: url("../../assets/Dog\ 1.jfif");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: darkorange;
  text-shadow: 2px 2px bisque;
}

.description {
  color: bisque;
  text-shadow: 2px 2px darkorange;
}

.button {
  background-color: bisque;
  border-radius: 2rem;
  color: black;
  font-weight: 600;
  border: none;
  font-size: 20px;
  transition: .5s;
}

.button:hover {
    color: white;
    background-color: red;
    box-shadow: 0 0 1rem white, 0 0 4rem white, 0 0 8rem white
}