.paging {
  padding: 0 0 5rem 0.5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
}

.number {
  list-style: none;
  /* float: left; */
  margin: 0.2rem;
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  
}

.paging_button {
  background-color:darkorange;
  /* border-radius: 2rem; */
  color: black;
  font-weight: 600;
  border: none;
  font-size: 15px;
  transition: 0.5s;
}

.paging_button:hover {
  /* color: white; */
  background-color: red;
  /* box-shadow: 0 0 1rem yellow, 0 0 4rem yellow, 0 0 8rem yellow; */
  
}
