.form_container {
  background-image: url("../../assets/Dog\ 2.jfif");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.form_title {
  color: darkorange;
  text-shadow: 2px 2px bisque;
}

.form_label {
  color: darkorange;
  text-shadow: 1px 1px bisque;
}

.shown_temperaments {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  /* position: relative; */
  margin: 0 auto;
}

.delete_button {
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 1rem;
}

.select {
  background-color: bisque;
  border-radius: 2rem;
  color: black;
  font-weight: 600;
  border: none;
}

.return_button {
  background-color: darkorange;
  border-radius: 1rem;
  color: black;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  font-size: 15px;
}

.return_button:hover {
  background-color: red;
}

.form_input {
  border-radius: 2rem;
  background-color: bisque;
  border: none;
}
