.card_name {
  color: black;
  /* text-shadow: 2px 2px greenyellow; */
  font-size: large;
}

.card_text {
  color: black;
  /* text-shadow: 2px 2px greenyellow; */
  font-size: small;
}

.card_div {
  background-color: bisque;
  width: fit-content;
  border-radius: 1rem;
}

.card_button {
  background-color: darkorange;
  border-radius: 1rem;
  color: black;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  font-size: 15px;
}

.card_button:hover {
  background-color: red;
}