.home_container {
  background-image: url("../../assets/Black-dog-hazy_1920x1200.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.home_title {
  color: darkorange;
  text-shadow: 2px 2px bisque;
}

.breed_button {
  background-color: darkorange;
  border-radius: 1rem;
  color: black;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  font-size: 15px;
}

.breed_button:hover {
  background-color: red;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}